<script src="../cropperjs/dist/cropper.min.js"></script>
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="cropper-styles.html">

<dom-module id="image-cropper">
    <template>
        <style include="cropper-style">
            :host {
                display: block;
            }

            #wrapper {
                display: block;
            }

            #image {
                max-width: 100%;
            }
        </style>

        <div>
            <slot id="slot">
                <div id="wrapper">
                    <img id="image" src="[[src]]" on-load="render">
                </div>
            </slot>
        </div>
    </template>

    <script>
        /**
         * `image-cropper`
         * A wrapper for Cropper.js(https://github.com/safetychanger/iron-cropper)
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class ImageCropper extends Polymer.Element {
            static get is() {
                return 'image-cropper';
            }

            static get properties() {
                return {
                    /**
                     * The URL of the image to be cropped
                     */
                    src: {
                        type: String,
                        reflectToAttribute: true
                    },
                    /**
                     * The options object as specified in https://github.com/fengyuanchen/cropperjs#options
                     */
                    options: {
                        type: Object,
                        value: function () {
                            return {}
                        }
                    },
                    /**
                     * The Cropperjs instance
                     */
                    cropper: {
                        type: Object,
                        notify: true,
                        readOnly: true
                    }
                };
            }

            render() {
                if (!window.Cropper) {
                    return console.error('Cropperjs has not been initialized!');
                }

                if (this.cropper) {
                    this.cropper.destroy();
                }

                const options = Object.assign({}, this.options);
                const wrapper = this.$.wrapper;

                options._ready = options.ready;
                options.ready = (e) => {
                    wrapper.removeAttribute('style');
                    if (options._ready) {
                        return options._ready(e);
                    }
                };

                const image = this._findImage();
                wrapper.setAttribute('style', 'max-height: ' + image.offsetHeight + 'px');
                this._setCropper(new Cropper(image, options));
            }

            /**
             * Searches slotted elements for first occurrence of an Image element
             *
             * @returns {HtmlElement Image}
             * @private
             */
            _findImage() {
                if (this.src !== undefined) {
                    return this.$.image;
                }

                for (let node of this.$.slot.assignedNodes()) {
                    if (node.shadowRoot !== undefined) {
                        return node.shadowRoot.querySelector('img');
                    }
                    else if (node.nodeType === Node.ELEMENT_NODE && node.tagName === 'IMG') {
                        return node;
                    }
                }
            }
        }

        window.customElements.define(ImageCropper.is, ImageCropper);
    </script>
</dom-module>
